#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }
.actions{
  display: flex;
  justify-content: space-between;
}
.btn{
  width: 80px;
  border-radius: 4px;
  color: white;
  i{
    margin-right: 4px;
  }
}
.btn-edit{
  background-color: red;

}
.btn-add-user{
  border-radius: 3px;
  width: 120px;

  &:hover{
    cursor: pointer;
    opacity: 0.9;
  }
}